#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  width: 100%;
}

.app-container {
  display: flex;
  width: 100%;
  min-height: 100vh;
}

.navbar {
  width: 250px;
  background-color: #242424;
  /* Match default dark theme */
  border-right: 1px solid #333;
  display: flex;
  flex-direction: column;
  padding: 20px;
  position: fixed;
  height: 100%;
  left: 0;
  top: 0;
}

.navbar-logo h2 {
  margin-top: 0;
  color: #646cff;
}

.navbar-links {
  list-style: none;
  padding: 0;
  margin-top: 2rem;
  text-align: left;
}

.navbar-links li {
  margin-bottom: 1rem;
}

.navbar-links a {
  color: rgba(255, 255, 255, 0.87);
  text-decoration: none;
  font-size: 1.2rem;
  transition: color 0.3s;
}

.navbar-links a:hover {
  color: #646cff;
}

.main-content {
  margin-left: 250px;
  /* Width of navbar */
  flex: 1;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}